@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #F7F9FC, #ffffff);
  color: #333;
  min-height: 100vh;
}


a {
  transition: color 0.3s ease;
}

a:hover {
  color: #3E7CB1; 
}